* {
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.grid-size-btn {
    font-size: 2.5vw;
}

.container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: black 1px solid;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    background-color: white;
    border: black 1px solid;
    flex: 1;
}